body {
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
      color: #777;
      background-color: #777;
      font-size: 18px;
      text-align: center;

}

.wrapper{
    width: 960px;
    margin: 0 auto;
}

.box-size {
    background-color: #ebebeb;
    padding: 5px;
    margin-bottom: 10px;
    
}

section{
    width: 525px;
    padding: 10px;
}


.article {
     color: #ebebeb;
     background-color: #777;
     border: 5px solid #777;   
}

ul{
    padding: 20px;
}

#h,#p{
    color: #777;
    background-color: #ebebeb;
    list-style: none;
    border: 10px solid #777;
}

aside{
    float: right;
    width: 405px;
    height: 335px;
    margin-bottom: 10px;

}

footer{
    clear: both;
    overflow: auto;
}